@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url("../public/fonts/Satoshi-Medium.woff2") format("woff2"),
      url("../public/fonts/Satoshi-Medium.woff") format("woff"),
      url("../public/fonts/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Outfit";
    src: url("../public/fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Outfit";
    src: url("../public/fonts/Outfit-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Mulish";
    src: url("../public/fonts/Mulish-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  /* Style cmdk */
  [cmdk-overlay] {
    @apply fixed inset-0 bg-black/20 backdrop-blur-sm data-[state=open]:animate-overlayShow;
  }
  [cmdk-dialog] {
    @apply fixed left-[50%] top-[10%] w-[90vw] max-w-[600px] translate-x-[-50%] overflow-hidden rounded-xl bg-white shadow-lg focus:outline-none data-[state=open]:animate-contentShow;
  }
  [cmdk-list] {
    @apply h-[var(--cmdk-list-height)] max-h-[500px] min-h-[300px] overflow-auto overscroll-contain transition-[height] duration-100 ease-[ease];
    scroll-padding-block-start: 8px;
    scroll-padding-block-end: 8px;
  }
  [cmdk-input] {
    @apply w-full px-2 py-3.5 focus:outline-none;
  }
  [cmdk-group-heading] {
    @apply px-4 py-3 text-lg text-grey-300;
  }
  [cmdk-item] {
    @apply text-xs text-grey-400;
  }
}

body {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  background-color: #fbfbfb;
  color: #26272b;
}

.select-bg {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.98449 4.5H9.01496C9.43214 4.5 9.64074 5.00391 9.34543 5.29922L6.33136 8.31562C6.14855 8.49844 5.85089 8.49844 5.66808 8.31562L2.65402 5.29922C2.35871 5.00391 2.5673 4.5 2.98449 4.5Z' fill='%23A0A0AB'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: top 50% right 2px;
}
