@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url("../public/fonts/Satoshi-Medium.woff2") format("woff2"),
      url("../public/fonts/Satoshi-Medium.woff") format("woff"),
      url("../public/fonts/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Outfit";
    src: url("../public/fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Outfit";
    src: url("../public/fonts/Outfit-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Mulish";
    src: url("../public/fonts/Mulish-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

body {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #26272b;
}
